.box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.carousel {
    width: 100%;
    height: 100%;
    margin: auto;
    
}

.carousel .item {
    width: 100%;
    height: 100%;
}

.carousel-control-prev {
    object-fit: cover;
    height: 100%;
}

.carousel-control-next {
    height: 100%;
}

.carousel .carousel-control-prev-icon {
    background-color: black;
    visibility: hidden;
}

.carousel .carousel-control-next-icon {
    background-color: black;
    visibility: hidden;
}

.carousel:hover .carousel-control-prev-icon {
    visibility: visible;
}

.carousel:hover .carousel-control-next-icon {
    visibility: visible;
}

.carousel-item div {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}